body {
  background-color: white;
  margin: 0;
  text-align: center;
  font-family: 'PT Serif', serif
}

hr {
  border: dotted #cbf1f5 8px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

.top-container {
  background-color: #E4F9F5;
  padding: 5px;
  margin: 0;
  position: relative;
}

a {
  color: #11999e;
  font-family: 'PT Serif', serif;
  margin: 10px;
  text-decoration: none;
}

a:hover {
  color: white;
}

h1 {
  margin: 150px auto 0 auto;
  font-family: 'Redressed', cursive;
  font-size: 5em;
}

h2 {
  color: #3fc1c9;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  color: #00adb5;
}

p {
  line-height: 2;
}

.middle-container {
  margin: 100px 0 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 30px 0 40px;
  margin: 40px 0 0;
}

.contact-me {
  margin: 20px auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.top-cloud {
  position: absolute;
  top: 100px;
  right: 430px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
}

.profile-picture {
  width: 180px;
}

.intro {
  width: 40%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
}

.coding-pic {
  float: left;
  margin-right: 30px;
}

.juggling-pic {
  float: right;
  margin-left: 30px;
}

.bt {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #13686C);
  background-image: -moz-linear-gradient(top, #11CDD4, #13686C);
  background-image: -ms-linear-gradient(top, #11CDD4, #13686C);
  background-image: -o-linear-gradient(top, #11CDD4, #13686C);
  background-image: -webkit-gradient(to bottom, #11CDD4, #13686C);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: Times New Roman;
  font-size: 20px;
  font-weight: 100;
  padding: 15px;
  -webkit-box-shadow: 1px 1px 10px 0 #000000;
  -moz-box-shadow: 1px 1px 10px 0 #000000;
  box-shadow: 1px 1px 10px 0 #000000;
  text-shadow: 1px 1px 10px #000000;
  border: outset #86A39F 2px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.bt:hover {
  border: solid #2BB19D 1px;
  background: #2ED5BF;
  background-image: -webkit-linear-gradient(top, #2ED5BF, #2BB19D);
  background-image: -moz-linear-gradient(top, #2ED5BF, #2BB19D);
  background-image: -ms-linear-gradient(top, #2ED5BF, #2BB19D);
  background-image: -o-linear-gradient(top, #2ED5BF, #2BB19D);
  background-image: -webkit-gradient(to bottom, #2ED5BF, #2BB19D);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.copyright {
  color: white;
  font-size: 14px;
  padding-top: 10px;
}
